.container-flex {
	display: flex;
	flex-direction: row;
	align-items: start;
	padding: 20px;
}

.container-flex img {
	max-width: 150px;
	margin-right: 20px;
}

.container-flex form {
	flex-grow: 1;
}

.invalid {
	width: 100%;
	margin-top: .25rem;
	font-size: .875em;
	color: #ea868f;
}

@media (max-width: 768px) {
	.container-flex {
		flex-direction: column;
		align-items: center;
	}

	.container-flex img {
		margin-right: 0;
		margin-bottom: 20px;
	}
}

.container-flex form {
	width: 100%;
	flex-grow: 1;
}

.form-control {
	width: 100%;
	height: 100%;
}

.radio-form-container {
	max-height: 300px; /* Ajusta esta altura según tus necesidades */
	overflow-y: auto;
	margin-top: 10px;
}
