<div class="container-flex">
	<ng-container *ngIf="checkFileExists(file) | async; else noCover">
		<img [attr.src]="'/covers/' + file.coverId + '.jpg'" alt="{{ file | title }}" width="100%" height="225"
			 class="bd-placeholder-img card-img-top">
	</ng-container>
	<ng-template #noCover>
		<img ngSrc="/images/150.png" width="150" height="150" alt="Imagen">
	</ng-template>
	<form [formGroup]="form">
		<div formArrayName="fields">
			<div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i">
				<div class="mb-3">
					<label for="field" class="form-label">{{ toUpperCase(field.get('name')?.value) }}</label>
					<textarea *ngIf="field.get('name')?.value === 'description'" class="form-control" id="field"
							  formControlName="value" (input)="onInput()">
					</textarea>
					<input *ngIf="field.get('name')?.value !== 'description'" type="text" class="form-control"
						   id="field" formControlName="value"
						   (input)="onInput()">
				</div>
			</div>
		</div>
		<div id="feedback" class="invalid"></div>
	</form>
</div>
