<div class="flex-shrink-0 p-3" id="sidebar">
<!--	<a href="#"-->
<!--	   class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom ">-->
<!--		<img ngSrc="/images/logo.png" width="250" height="250" alt="" priority>-->
<!--	</a>-->
	<a
	   class="d-flex justify-content-center align-items-center mb-3 link-body-emphasis text-decoration-none border-bottom">
		<img ngSrc="/images/logo.png" width="167" height="250" alt="" priority>
	</a>
	<div class="list-container">
		<ul class="list-unstyled ps-0">
			<directory-tree [directory]="directory"></directory-tree>
		</ul>
	</div>
</div>
