<div *ngIf="pdfSrc" class="pdf-container">
	<ngx-extended-pdf-viewer
		[src]="pdfSrc"
		[textLayer]="true"
		height="100%"
		[zoom]="'page-width'"
		[theme]="'dark'"
		backgroundColor="#5c5c5c"
		(pdfLoadingFailed)="handleError($event)"
		[showToolbar]="true"
		[showSidebarButton]="true"
		[showFindButton]="true"
		[showPagingButtons]="true"
		[showDrawEditor]="false"
		[showStampEditor]="false"
		[showTextEditor]="false"
		[showZoomButtons]="true"
		[showPresentationModeButton]="false"
		[showOpenFileButton]="false"
		[showPrintButton]="false"
		[showDownloadButton]="false"
		[showSecondaryToolbarButton]="true"
		[showRotateButton]="false"
		[showRotateCwButton]="false"
		[showRotateCcwButton]="false"
		[showHandToolButton]="false"
		[showScrollingButton]="false"
		[showSpreadButton]="true"
		[showPropertiesButton]="false"
	>
	</ngx-extended-pdf-viewer>
</div>
<error-message [onClose]="onClose"></error-message>
