<header class="p-3 mb-3 border-bottom d-flex align-items-baseline">
	<button id="sidebarToggle" class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
			aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 17px;"
			(click)="toggleSidebar()">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="d-flex align-items-center" style="width: 100%;">
		<div class="d-flex flex-grow-1 justify-content-end align-items-center gap-2">
			<form class="flex-grow-1 flex-lg-grow-0 mb-0 me-2" role="search" style="max-width: 200px;">
				<input type="search" class="form-control" placeholder="Search..."
					[(ngModel)]="searchText"
					(keydown)="onKeyDown($event)"
					aria-label="Search"
					[ngModelOptions]="{standalone: true}"
				>
			</form>
			<button class="btn btn-link" type="button" (click)="logout()">
				<i class="bi bi-box-arrow-right me-1"></i>Logout
			</button>
		</div>
	</div>
</header>
