<li class="mb-1" [style.margin-left.px]="nestingLevel * 10">
	<button
		class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
		data-bs-toggle="collapse"
		[attr.data-bs-target]="'#' + directory?.hash"
		[attr.aria-expanded]="directory && isCollapsed(directory.hash) ? 'false' : 'true'"
		(click)="onClick(directory?.hash)"
	>
		{{ directory?.name }}
	</button>
	<div
		[class.collapse]="directory && isCollapsed(directory.hash)"
		[class.show]="directory && !isCollapsed( directory.hash )"
		[id]="directory?.hash"
		style="overflow-y: hidden;overflow-x: hidden;"
	>
		<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
			<li *ngFor="let subDir of directory?.directories">
				<directory-tree [directory]="subDir" [nestingLevel]="nestingLevel + 1"></directory-tree>
			</li>
		</ul>
	</div>
</li>
