<div class="modal fade" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false"
	 aria-hidden="true"
	 aria-labelledby="errorModalLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="border: 1px solid #333333">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="errorModalLabel">Error</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				{{ errorMessage }}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
			</div>
		</div>
	</div>
</div>
