.audio-list-container {
	display: flex;
	flex-direction: column;
	align-items: center; /* Centra los elementos horizontalmente */
	margin-top: 20px;
}

.audio-item {
	width: 80%; /* El ancho de cada elemento será del 80% */
	margin-bottom: 20px;
}

.audio-name {
	font-weight: bold;
	margin-bottom: 5px;
}

audio {
	width: 100%;
}
